:root{
    --negro: #0f0f0f;
    --blanco: #fdfcf5;
    --osl: #FBE017;
}

html{
    scroll-padding-top: 70px;
    scroll-behavior: smooth !important;
    overflow-x: hidden; /* Prohibido el scroll horizontal en la raíz */
    width: 100%;
    margin: 0;
    padding: 0;
    touch-action: pan-y;
}

*{
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--blanco);
    box-sizing: border-box;
    min-height: 100vh;
    max-width: 100vw;   /* No puede ser más ancho que la ventana visual */
    margin: 0;
    padding: 0;
    position: relative;
}

/* ESTILOS ----------------------------------------------- */
/* HEADER ----------------------- */
header {
    background-color: var(--negro);
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
}

.logo {
    width: 100%;
    padding: 10px 0;
    display: block;
}

header img {
    max-width: 200px; 
    width: 80%;      
    height: auto;
    padding-top: 10px;
    display: inline-block;
}

.nav-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;         
    width: 100%;
    background-color: var(--negro);
    z-index: 1000;
    margin: 0;
    padding: 0;
    border-radius: 0 0 20px 20px;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    text-align: center;
    align-items: center;
    width:100%;
    margin:0;
    gap: 15px;
    padding-bottom: 15px;
}

nav ul li{
    padding-top: 15px;
    
}

nav ul li a{
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    color: var(--blanco);
    text-align: center;
}

nav ul li a:active{
    color: var(--osl);
}

/* SEPARADOR ------------------*/
.separador{
    height: 150px;
}

/* HERO ------------------------- */

.hero{
    margin-top: -80px;
    margin-bottom: 50px;
}

h1{
    text-align: center;
    text-transform: uppercase;
}

.tres-col{
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
    flex-basis: 0;
    background-color: #f6f1ca;
    margin-top: 50px;
    border-radius: 10px;
}

.col{
    width:30%;
    text-align: center;
}

.tres-col h2{
    font-size: 1.7rem;
    margin-bottom: 0;
}

/* PRODUCTOS --------------------------- */

h2, h3{
    text-align: center;
    text-transform: uppercase;
}

.grid-productos{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    row-gap: 30px;
    padding: 15px; /* El aire a los lados */
    justify-content: center;
    width: 100%;   /* Ocupa todo el ancho disponible */
    box-sizing: border-box; /* 👈 CRUCIAL: mete el padding DENTRO del 100% */
    margin-bottom: 50px;
    max-width: 100vw;
}

.prod{
    width: calc(50% - 7.5px); 
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-sizing: border-box;
}

.prod img{
    border-radius: 12px;
    border: 5px solid transparent;
    transition: 0.3s;
    aspect-ratio: 2/3;
    width: 100%;
    object-fit: cover;
}

.prod input:checked + img{
    border-color: var(--osl);
    transform: scale(0.95);
}

.prod input{
    display:none;
}

.info{
    text-align: center;
    line-height: 1.50rem;
}

strong{
    font-size: 1.2rem;
}

.extra{
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
}

.info i{
    font-size: 0.5rem;
}



#btn-whatsapp {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--negro);
    color: white;
    padding: 12px 25px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

#resumen-flotante {
    background-color: var(--osl); /* Tu color amarillo */
    color: var(--negro);
    padding: 2px 8px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9rem;
}





/* EXTRAS ABAJO ------------------------------------- */

.disclaimer{
    font-size: 0.85rem;
    text-align: center;
    width: 80%;
    margin: auto;
}

.disclaimer ul{
    padding:0;
    list-style-type: none;
}

.disclaimer li{
    padding-bottom: 5px;
}


.redes{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 60px;
    padding-top: 12px;
    background-color: var(--negro);
    border-radius: 20px 20px 0 0 ;
}

.redes a{
    font-size: 2rem;
    color: var(--blanco);
}

.redes a:hover{
    color: var(--osl);
}


/* BOTONES ABAJO PANTALLA ------------------------------------------ */
.arriba{
    background-color: var(--negro);
    color:var(--blanco);
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    border-radius: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.arriba a, .whatsapp a{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--blanco);
    text-decoration: none;
}

.arriba a:hover, .whatsapp a:hover{
    color:var(--osl);
}

/* .whatsapp{
    background-color: var(--negro);
    color:var(--blanco);
    height:2.2rem;
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    padding: 10px;
    display:flex;
    align-items: center;
    justify-self: center;
    border-radius: 10px;
    margin:auto;
} */


@keyframes subir {
    from { opacity: 0; transform: translate(-50%, 50px); }
    to { opacity: 1; transform: translate(-50%, 0); }
}

@keyframes bajar {
    from { opacity: 1; transform: translate(-50%, 0); }
    to { opacity: 0; transform: translate(-50%, 50px); }
}

.whatsapp {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height:70px !important;
    background-color: var(--negro);
    border-radius: 25px 25px 0 0 !important;
    padding: 15px !important;
    margin-bottom: -20px !important;
    z-index: 2000;
    display: none; /* Se activa por JS */
    align-items: center;
    white-space: nowrap;
}

#btn-whatsapp.show {
    display: flex !important; /* Cambiamos a flex para que sea visible */
    animation: subir 0.4s ease-out forwards;
}

/* Clase que aplicaremos con JS para que salga */
#btn-whatsapp.hide {
    display: flex !important;
    animation: bajar 0.4s ease-in forwards;
}

#resumen-flotante {
    margin-left: 10px;
    background-color: #FBE017; /* Tu variable --osl */
    color: #000;
    padding: 2px 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9rem;
}

.enlace-whatsapp {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

 /* AGOTADO ---------------------------------- */
.agotado {
    position: relative; 
    pointer-events: none; 
}

.agotado img {
    filter: grayscale(1);
    opacity: 0.5;
}

.agotado::after {
    content: "AGOTADO";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47%, -120%) rotate(-15deg);
    background: var(--negro); 
    opacity:0.8;
    color: var(--blanco);
    padding: 8px 15px;
    font-weight: bold;
    font-size: 1.2rem;
    z-index: 10; /* Aseguramos que esté por encima de todo */
    border-radius: 4px;
}





/* RESPONSIVE ------------------------------------------------------------- */

@media screen and (min-width: 700px){
    .prod{
    width: calc(25% - 7.5px);
    }
}

@media screen and (min-width: 1000px){
    .prod{
    width: calc(20% - 7.5px);
    }
}