:root{
    --negro: #0f0f0f;
    --blanco: #fdfcf5;
    --osl: #FBE017;
}

html{
    scroll-padding-top: 160px;
    scroll-behavior: smooth !important;
}

*{
    font-family: "Outfit", sans-serif;
}

body{
    margin:0;
    background-color: var(--blanco);
    box-sizing: border-box;
    width:100%;
    min-height: 100vh;
}

/* ESTILOS ----------------------------------------------- */
/* HEADER ----------------------- */
header{
    background-color: var(--negro);
    color: var(--blanco);
    /* position: fixed; */
    top:0;
    width: 100%;
    z-index:1000;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img{
    text-align: center;
    width: 250px;
    margin-top: 20px;
}

header ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    text-align: center;
    align-items: center;
    width:100%;
    margin:0;
}

header ul li{
    padding: 15px;
}

header ul li a{
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    color: var(--blanco);
    text-align: center;
}

header ul li a:active{
    color: var(--osl);
}

/* SEPARADOR ------------------*/
.separador{
    height: 150px;
}

/* HERO ------------------------- */



/* PRODUCTOS --------------------------- */

h2{
    text-align: center;
    text-transform: uppercase;
}

.grid-productos{
    display: flex;
    flex-wrap:wrap;
    gap: 15px;
    row-gap: 30px;
    padding:15px;
    justify-content: center;
    width:calc(100% - 35px);
    margin-bottom: 50px;
}

.prod{
    width: calc(50% - 7.5px);
    display: flex;
    flex-direction: column;
    cursor:pointer;
}

.prod img{
    width: 100%;
    border-radius: 12px;
    border: 5px solid transparent;
    transition: 0.3s;
}

.prod input:checked + img{
    border-color: var(--osl);
    transform: scale(0.95);
}

.prod input{
    display:none;
}

.info{
    text-align: center;
    line-height: 1.50rem;
}

strong{
    font-size: 1.2rem;
}

.extra{
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
}

.info i{
    font-size: 0.5rem;
}




/* BOTONES ABAJO PANTALLA ------------------------------------------ */
.arriba{
    background-color: var(--negro);
    color:var(--blanco);
    padding: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.arriba a, .whatsapp a{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--blanco);
    text-decoration: none;
}

.arriba a:hover, .whatsapp a:hover{
    color:var(--osl);
}

.whatsapp{
    background-color: var(--negro);
    color:var(--blanco);
    height:2.2rem;
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    padding: 5px 10px;
    display:flex;
    align-items: center;
    justify-self: center;
    border-radius: 10px;
    margin:auto;
}




/* RESPONSIVE ------------------------------------------------------------- */

@media screen and (min-width: 700px){
    .prod{
    width: calc(25% - 7.5px);
    }
}

@media screen and (min-width: 1000px){
    .prod{
    width: calc(20% - 7.5px);
    }
}